extends layout

block content
  div.container
    div.jumbotron
      h1 나의 칸반 보드
      p 안녕하세요 !! 저의 칸반보드입니다.
      p 새 업무를 추가하시려면, 아래 버튼을 클릭하세요
      a.btn.btn-primary.btn-lg ADD TASK
  div.row
    div.col-lg-4
      h2 TO-DO
      ul.list-group
        each val in todoTasks
          li.list-group-item= val
    div.col-lg-4
      h2 IN-PROGRESS
      ul.list-group
        each val in inProgressTasks
          li.list-group-item= val
    div.col-lg-4
      h2 DONE
      ul.list-group
        each val in doneTasks
          li.list-group-item= val

